body {
  font-family: 'Work Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* header section */

.header-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../images/banner/banner3.png');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-info {
  color: #fff;
  text-align: right;
  width: 50vw;
  padding: 15%;
}

.header-info-H1 {
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header-info-p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.header-info-btn {
  /* text style */
  color: #005fac;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* btn style */
  padding: 20px 25px;
  border-radius: 5px;
  background: #fff;
  border: none;
  cursor: pointer;
}

/* previous yr sec */
/* Kisu ekta save mar */

.previous-year-section {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  height: 100vh;
  width: 70%;
  margin: 0px auto;
}

.previous-yr-section-img {
  margin-right: 3.2%;
}

.previous-yr-section-info {
  margin-left: 3.2%;
}

.previous-yr-section-info-h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #151414;
  width: 288px;
}

.previous-yr-section-info-p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #444343;
  width: 416px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.p-yr-list-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #444343;
  margin-bottom: 8px;
}

.p-yr-list {
  margin-left: 4.5%;
}
